
    
body {
    position: relative;
    /* Aseguramos que el body tenga una posición relativa para que el ::after funcione correctamente */
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
    /*Ajustartransparenciadelaimagendefondo*/
    z-index: -1;
    filter: brightness(30%);
    -webkit-filter: brightness(30%);

}

.navbar {
    background-color: #3E3E3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.navbar-buttons {
    display: flex;
    gap: 1.5vw;
}

.navbar-img-left {
    width: 8vw;
    height: auto;
}

.navbar-img-right {
    max-width: 4vw;
    height: auto;
}

.btn-primary {
    background-color: transparent !important;
    color: #fff;
    border-color: transparent !important;
    font-size: 1.3vw;
}

.btn-primary:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: transparent !important;
    border-color: transparent !important;
}
    
    .dropdown-menu .dropdown-item:hover {
        background-color: transparent !important;
        border-color: transparent !important;
        border: none;
        text-shadow: 0 0 5px #f80008;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: rgba(255, 0, 0, 0.274) !important;
        /* Cambia el color de fondo al pasar el cursor sobre las opciones del menú */
    }

    .dropdown-item:hover {
        color: #f80008 !important;
    }

    .dropdown-menu {
        background-color: transparent !important;
        border-color: #73a3b6 !important;
    }

    .dropdown-menu .dropdown-item {
        color: #f80008 !important;
        background-color: transparent !important;
        border-color: #f80008 !important;
    }

    .dropdown-menu .dropdown-divider {
        border-top: 1px solid #f80008;
    }

    .vertical-line {
        position: fixed;
        bottom: 0;
        width: 60px;
        display: flex;
        flex-direction: column;
        /* Alinea los elementos verticalmente */
        justify-content: center;
        /* Centra los elementos verticalmente */
        align-items: center;
        /* Centra los elementos horizontalmente */
    }
    
    .left-line {
        top: 0;
        left: 0;
    }
    
    .right-line {
        top: 0;
        right: 0;
    }
    
    .vertical-line hr {
        margin: 5px 0;
        /* Ancho de las líneas */
        height: 60px;
        /* Altura de las líneas */
        border-radius: 6px;
        /* Agrega este estilo para redondear los bordes */
    }
    
    .linea1 {
        border: none;
        border-right: 3px solid #BCCCE0;
        /* Agrega una unidad de medida (px) */
    }
    
    .linea2 {
        border: none;
        border-left: 3px solid #f80008;
        /* Agrega una unidad de medida (px) */
    }
    
    .vertical-line.left-line i {
        color: #BCCCE0;
        /* Color para los íconos de la izquierda */
    }
    
    .vertical-line.right-line i {
        color: #ff0008;
        /* Color para los íconos de la derecha */
    }
    

    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 90%;
        height: 90vh;
    }
    
    .active-link {
        position: relative;
        color:red;
    }

    .active-link:after {
        color:red;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px; /* Grosor de la línea */
        background-color: red; /* Color de la línea */
    }

    .contenedor {
     display: flex;
     
    height: 50vw;
    /* 100% de la altura de la ventana */
    width: 90%;
    margin-top: 5%;
}

    .campo {
        border: 2vh solid white;
      
        
}
    .campo a{
        text-decoration: none;
        color: white;

}

    .campo1 {
        flex-grow: 1; /* Hacer que el campo se expanda automáticamente */
        height: 40vw;
        margin-top: 8%;
        /* 100% de altura */
        position: relative;
        border-bottom: 4vw solid white;
}

    .campo1:hover {
        background-color: red;
        cursor: pointer;
        color:  #BCCCE0;
}

   

.campo1 h1 {
    position: absolute;
    bottom: 50%;
    left: 30%;
    transform: translate(-50%, 50%) scale(0.8);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-weight: bold;
    font-size: 4vw;
    /*Tamañodeltextoenem(ajústalosegúnseanecesario)*/letter-spacing: -0.3em;
    /*Espaciadoentreletrasenem(ajústalosegúnseanecesario)*/text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-text-orientation: upright;
}

.container-fluid{
    padding: 0 !important;
}

