
    

    
body {
    position: relative;
    /* Aseguramos que el body tenga una posición relativa para que el ::after funcione correctamente */
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
    /*Ajustartransparenciadelaimagendefondo*/
    z-index: -1;
    filter: brightness(30%);
    -webkit-filter: brightness(30%);

}

.navbar {
    background-color: #3E3E3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;

}

.navbar-buttons {
    display: flex;
    gap: 1.5vw;
}

.navbar-img-left {
    width: 8vw;
    height: auto;
}

.navbar-img-right {
    max-width: 4vw;
    height: auto;
}

.btn-primary {
    background-color: transparent !important;
    color: #fff;
    border-color: transparent !important;
    font-size: 1.3vw;
}

.btn-primary:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: transparent !important;
    border-color: transparent !important;
}
    
    .dropdown-menu .dropdown-item:hover {
        background-color: transparent !important;
        border-color: transparent !important;
        border: none;
        text-shadow: 0 0 5px #f80008;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: rgba(255, 0, 0, 0.274) !important;
        /* Cambia el color de fondo al pasar el cursor sobre las opciones del menú */
    }

    .dropdown-item:hover {
        color: #f80008 !important;
    }

    .dropdown-menu {
        background-color: transparent !important;
        border-color: #f80008 !important;
    }

    .dropdown-menu .dropdown-item {
        color: #ffffff !important;
        background-color: transparent !important;
        border-color: #f80008 !important;
    }

    .dropdown-menu .dropdown-divider {
        border-top: 1px solid #f80008;
    }

    .vertical-line {
        position: fixed;
        bottom: 0;
        width: 60px;
        display: flex;
        flex-direction: column;
        /* Alinea los elementos verticalmente */
        justify-content: center;
        /* Centra los elementos verticalmente */
        align-items: center;
        /* Centra los elementos horizontalmente */
    }
    
    .left-line {
        top: 0;
        left: 0;
    }
    
    .right-line {
        top: 0;
        right: 0;
    }
    
    .vertical-line hr {
        margin: 5px 0;
        /* Ancho de las líneas */
        height: 60px;
        /* Altura de las líneas */
        border-radius: 6px;
        /* Agrega este estilo para redondear los bordes */
    }
    
    .linea1 {
        border: none;
        border-right: 3px solid #BCCCE0;
        /* Agrega una unidad de medida (px) */
    }
    
    .linea2 {
        border: none;
        border-left: 3px solid #f80008;
        /* Agrega una unidad de medida (px) */
    }
    
    .vertical-line.left-line i {
        color: #BCCCE0;
        /* Color para los íconos de la izquierda */
    }
    
    .vertical-line.right-line i {
        color: #ff0008;
        /* Color para los íconos de la derecha */
    }
    

    .container {
        display: flex;
        justify-content: center;
        text-align: left;
        align-items: center;
        width: 90%;
        height: 100vh;
    }
    
    .active-link {
        position: relative;
        color:red;
    }

    .active-link:after {
        color:red;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px; /* Grosor de la línea */
        background-color: red; /* Color de la línea */
    }
    .box {
        height: 70%;
        width: 50%;
        margin-top: 5%;
    }

    h1,
    h3 {
        color: #BCCCE0;
    }

    label {
        color: #BCCCE0;
    }

    form {
        text-align: left;
        margin-top: 10%;
        margin-left: 10%;
    }

    input {
        width: 90%;
        margin-right: 10%;
        background-color: #3E3E3F;
        color: white;
    }

    textarea {
        margin-right: 10%;
        width: 90%;
        background-color: #3E3E3F;
        color: white;
    }

    #submit {
        
        background-color: #BCCCE0;
        width: 25%;
        color: black;

    }
    .container-fluid{
        padding: 0 !important;
    }
    
    