

    
body {
    position: relative;
    /* Aseguramos que el body tenga una posición relativa para que el ::after funcione correctamente */
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
    /*Ajustartransparenciadelaimagendefondo*/
    z-index: -1;
    filter: brightness(30%);
    -webkit-filter: brightness(30%);

}

.navbar {
    background-color: #3E3E3F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    
}

.navbar-buttons {
    display: flex;
    gap: 1.5vw;
}

.navbar-img-left {
    width: 8vw;
    height: auto;
}

.navbar-img-right {
    max-width: 4vw;
    height: auto;
}

.btn-primary {
    background-color: transparent !important;
    color: #fff;
    border-color: transparent !important;
    font-size: 1.3vw;
}

.btn-primary:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: transparent !important;
    border-color: transparent !important;
}
    
    .dropdown-menu .dropdown-item:hover {
        background-color: transparent !important;
        border-color: transparent !important;
        border: none;
        text-shadow: 0 0 5px #f80008;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: rgba(255, 0, 0, 0.274) !important;
        /* Cambia el color de fondo al pasar el cursor sobre las opciones del menú */
    }

    .dropdown-item:hover {
        color: #f80008 !important;
    }

    .dropdown-menu {
        background-color: transparent !important;
        border-color: #73a3b6 !important;
    }

    .dropdown-menu .dropdown-item {
        color: #f80008 !important;
        background-color: transparent !important;
        border-color: #f80008 !important;
    }

    .dropdown-menu .dropdown-divider {
        border-top: 1px solid #f80008;
    }

    .vertical-line {
        position: fixed;
        bottom: 0;
        width: 60px;
        display: flex;
        flex-direction: column;
        /* Alinea los elementos verticalmente */
        justify-content: center;
        /* Centra los elementos verticalmente */
        align-items: center;
        /* Centra los elementos horizontalmente */
    }
    
    .left-line {
        top: 0;
        left: 0;
    }
    
    .right-line {
        top: 0;
        right: 0;
    }
    
    .vertical-line hr {
        margin: 5px 0;
        /* Ancho de las líneas */
        height: 60px;
        /* Altura de las líneas */
        border-radius: 6px;
        /* Agrega este estilo para redondear los bordes */
    }
    
    .linea1 {
        border: none;
        border-right: 3px solid #BCCCE0;
        /* Agrega una unidad de medida (px) */
    }
    
    .linea2 {
        border: none;
        border-left: 3px solid #f80008;
        /* Agrega una unidad de medida (px) */
    }
    
    .vertical-line.left-line i {
        color: #BCCCE0;
        /* Color para los íconos de la izquierda */
    }
    
    .vertical-line.right-line i {
        color: #ff0008;
        /* Color para los íconos de la derecha */
    }
    

/*INICIO ESTILOS EDWIN */
.title-container {
    text-align: center;
    margin-top: 80px;/*espacios entre columnas */
}

.big-title {
    color: #36baec;;
    font-size: 3em;
}


.txt3 {
    text-align: justify;
    max-width: 1000px;
    /* Ancho máximo del contenedor del texto */
    margin: 25px auto;
    /* Centra el contenedor horizontalmente */
}

.txts3 {
    color: #99C1DA;
    font-size: 24px;
    /* Tamaño de la fuente */
    position: relative;
    /* Establece la posición relativa para que sea la referencia para el HR */
}

.txts3::after {
    content: '';
    /* Contenido generado */
    position: absolute;
    /* Posicionamiento absoluto */
    top: 1px;
    /* Arriba */
    left: -28px;
    /* Alineado a la izquierda del texto */
    width: 5px;
    /* Ancho del HR vertical */
    height: 100%;
    /* Altura del HR vertical */
    background-color: #36baec;
    /* Color del HR vertical */
}

.txt3 h1 {
    margin-top: 30px;
    /* Ajusta el espacio en la parte superior del último h1 */
}

/*estilos de imagenes*/
.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%; /* Proporción para mantener la misma altura */
    margin: 20px 0 0 0 ; /* Márgenes iguales en los cuatro lados */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajustamos el ancho para cubrir todo el espacio */
    height: 100%; /* Ajustamos la altura para cubrir todo el espacio */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajustamos el ancho para cubrir todo el espacio */
    height: 100%; /* Ajustamos la altura para cubrir todo el espacio */
    background-color: rgba(0, 0, 255, 0.7); /* Azul semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:hover {
    opacity: 1;
}

.text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.container-fluid{
    padding: 0 !important;
}


